* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}
.logo {
  border: 1px;
  color: white;
  background: black;
  padding: 5px;
}
.navigation li{
  display: inline-block;
  padding: 30 30 30 0px;
}
.navigation a{
  text-decoration: none;
  color: black;
}
.navigation{
  border-bottom: 1px solid grey;
}
.navigation div{
  float: left;
}
.form{
  display: inline-block;
  float: right;
}
.navigation::before,
.navigation::after {
  content: "";
  display: table;
}
.extra-img {
  width: 25px;
  height: 25px;
}
.logout {
  color: red;
}
.navigation::after {
  clear: both;
}
.searchbutton{
  width: 30px;
  height: 30px;
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

.title{
  text-align: center;
}
.title h1{
  text-transform: uppercase;
  margin-bottom: 7px;
}
.title a{
   text-decoration: underline;
   color: grey;
}
.items a{
  width: 170px;
  height: 230px;
  border: 1px solid grey;
  display: inline-block;
  margin: 35px;
}
.items div{
  text-align: center;
  display: inline-block;
}
.more-info{
  text-align: center;
}
.more-info img{
  width: 900px;
  height: 100px;
 
}
.more-info h1{
  color: grey;
  text-transform: uppercase;
}
.summary{
  text-align: center;
}
.summary div{
  display: inline-block;
}
.summary div:not(:last-child){
  border-right: 1px solid grey;
}
.summary img{
  width: 5px
  height: 5px;
}
.summary ul{
  list-style-type: none;
}
.summary a{
  text-decoration: none;
}