* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}
.navigation li{
  display: inline-block;
  padding: 30 30 30 0px;

}
.navigation a{
  text-decoration: none;
  color: black;
}
.navigation div{
  float: left;
  border-bottom-style: solid;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
input[type="text"] {
   background-color: #444;
   width: 100px;
   display: inline-block;
}
.title{
  margin-left: 350px;
}
.title h1{
 text-transform: uppercase;
 margin-bottom: 7px;
}
.title a{
   text-decoration: underline;
   color: grey;
   margin-left: 20px;
}
.items a{
  width: 150px;
  height: 200px;
  background: red;
  display: inline-block;
  padding: 100px;
}
.items div{
  display: inline-block;
}
.more-info img{
  width: 700px;
  height: 100px;
  margin-left: 100px;
}
.more-info h1{
  margin-left: 250px;
  color: grey;
  text-transform: uppercase;
}
.summary div{
  float: left;
  border-right-style: solid;
}
.summary img{
  width: 10px
  height:10px;
}
.summary ul{
  list-style-type: none;
}
.summary a{
  text-decoration: none;
}